<h1>Box model</h1>
<img src="/image/box model.JPG" alt="dom">

<h1>Insert pic</h1>
<img src="/image/insert photo.png" >

<h1>related Method's or var's name</h1>
<a href="/code/relate code.js">related code</a>
<p>var load_data_batch</p>
<p>var tick_prediction</p>
<p>var draw_network_state</p>
<p>src is convnet_demo/cifar10_batch_50_small.png</p>
<h1>changing color</h1>
<img src="/image/18090449_1275558595854501_1410161345_o.png" >
<img src="/image/18053162_1275558592521168_1286165767_o.png" >